<style>
    .event-card {
        width: 200px;
        cursor: pointer;
    }
</style>

<div class="card mb-3 event-card">
    <div class="card-header bg-primary text-white">
        <h3 class="card-title mb-0">Event</h3>
    </div>
    <div class="card-body" style="max-width: 600px; margin: auto;">
        <p class="card-text"><strong>Location:</strong> Calgary</p>
        <p class="card-text"><strong>Date:</strong> 2025-02-10</p>
    </div>
</div>